@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900");
/*
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local("Montserrat"),url("https://www.algolia.com/static_assets/fonts/montserrat-v11-300-5bff2360.woff2") format("woff2"),url("https://www.algolia.com/static_assets/fonts/montserrat-v11-300-25d784d5.woff") format("woff")
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),url("https://www.algolia.com/static_assets/fonts/montserrat-v11-400-3cf89ef4.woff2") format("woff2"),url("https://www.algolia.com/static_assets/fonts/montserrat-v11-400-4595e63d.woff") format("woff")
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"),url("https://www.algolia.com/static_assets/fonts/montserrat-v11-500-beeca935.woff2") format("woff2"),url("https://www.algolia.com/static_assets/fonts/montserrat-v11-500-8cac233e.woff") format("woff")
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local("Montserrat"),url("https://www.algolia.com/static_assets/fonts/montserrat-v11-600-dfacc53c.woff2") format("woff2"),url("https://www.algolia.com/static_assets/fonts/montserrat-v11-600-1b82189e.woff") format("woff")
}*/
